.env
db.sqlite3
media/
staticfiles/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/
*.env
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
*.egg
*.egg-info
pip-wheel-metadata/
*.egg-info/
